<h1 class="text-dark fw-bold">
    Add Donation Camp
</h1>
<div class="spacer"></div>

<form action="" class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label for="EventName" class="text-dark">Event Name</label>
            <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-6">
            <label for="EventDate" class="text-dark">Event Date</label>
            <input type="date" name="" id="" class="form-control">
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-6">
            <label for="EventTime" class="text-dark">Event Time</label>
            <input type="time" name="" id="" class="form-control">
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-6">
            <label for="EventClosingDate" class="text-dark">Event Closing Date</label>
            <input type="date" name="" id="" class="form-control">
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-6">
            <label for="EventPlace" class="text-dark">Event Place</label>
         <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </div>
</form>