<h1 class="text-dark fw-bold">
    Blood Stocks
</h1>
<div class="spacer"></div>
<form action="" class="form-group">
    
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">A+ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">B+ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">O+ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">A-ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">B-ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">O-ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">AB+ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">AB-ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">A+ve</h4>
    </div>
    <div class="col-md-4">
        <input type="number" name="" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <input type="submit" value="Update" class="btn btn-success ">
    </div>
</div>
</form>