<h1 class=" fw-bold bg-info text-light shadow" style="padding: 30px; border-radius: 20px;">
    Blood Stocks
</h1>
<div class="spacer"></div>
<form action="" class="form-group" (ngSubmit) = "UpdateBloodStock()">
    
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">A+ve</h4>
    </div>
    <div class="col-md-4">
        <input [(ngModel)] = "APositive" type="number" name="APos" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">B+ve</h4>
    </div>
    <div class="col-md-4">
        <input [(ngModel)] = "BPositive" type="number" name="BPos" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">O+ve</h4>
    </div>
    <div class="col-md-4">
        <input [(ngModel)] = "OPositive" type="number" name="OPos" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">AB+ve</h4>
    </div>
    <div class="col-md-4">
        <input  [(ngModel)] = "ABPositive" type="number" name="ABPos" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">A-ve</h4>
    </div>
    <div class="col-md-4">
        <input [(ngModel)] = "ANegative" type="number" name="ANeg" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">B-ve</h4>
    </div>
    <div class="col-md-4">
        <input  [(ngModel)] = "BNegative" type="number" name="BNeg" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">O-ve</h4>
    </div>
    <div class="col-md-4">
        <input [(ngModel)] = "ONegative" type="number" name="ONeg" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger">AB-ve</h4>
    </div>
    <div class="col-md-4">
        <input [(ngModel)] = "ABNegative" type="number" name="ABNeg" id="" class="form-control">
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-4">
        <input  type="submit" value="Update" class="btn btn-success ">
    </div>
</div>
</form>