<h1 class="text-dark fw-bold">
    Add Notification
</h1>
<form action="" class="form-group">
<div class="row">
    <div class="col-md-4">
        <label for="Title" class="text-dark">Title</label>
        <input type="text" name="" id="" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="Title" class="text-dark">Content</label>
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
        <input type="submit" value="Add" class="btn btn-primary">
    </div>
</div>
</form>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Covid Vaccine Drive </td>
        <td>Covid Vaccine Drive happening on Model School on 25th Nov at 10 PM</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    
    </tbody>
  </table>