<div class="about-section">
    <h1>About Us</h1><br>
    <p>Blood Value enforces Drug & Cosmetic Act, National blood policy standards and guidelines ensuring proper collection & donation, effective management and monitoring the quality and quantity of the donated blood. Considering the national roll out, Blood Value has been developed with modular and scalable approach allowing customization to easily incorporate specific requirements from nationwide stakeholders.</p>
    
  </div>
  <br>
  <h2 style="text-align:center"><strong>Our Team</strong></h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/1.jpg" alt="Aravind" style="width:100%">
        <div class="container">
          <h2>Aravind Chandran</h2>
          <p class="title">Associate Trainee</p>
          <p>Talent Transformation</p>
          <p>aravind.chandran@speridian.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/2.jpg" alt="Aleena" style="width:100%">
        <div class="container">
          <h2>Aleena Joice</h2>
          <p class="title">Associate Trainee</p>
          <p>Talent Transformation</p>
          <p>aleena.joice@speridian.com</p>
         
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/3.jpg" alt="Ananthu" style="width:100%">
        <div class="container">
          <h2>Ananthu Manoj</h2>
          <p class="title">Associate Trainee</p>
          <p>Talent Transformation</p>
          <p>ananthu.manoj@speridian.com</p>
         
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/4.jpg" alt="Ashik" style="width:100%">
        <div class="container">
          <h2>Ashik Mathew</h2>
          <p class="title">Associate Trainee</p>
          <p>Talent Transformation</p>
          <p>ashik.mathew@speridian.com</p>
          
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/assets/5.jpg" alt="Mahadev" style="width:100%">
        <div class="container">
          <h2>Mahadev Sajeev</h2>
          <p class="title">Associate Trainee</p>
          <p>Talent Transformation</p>
          <p>mahadev.sajeev@speridian.com</p>
          
        </div>
      </div>
    </div>
  </div>
  