<div class="wrapper ">
    <!-- Sidebar  -->
    <nav id="sidebar" class="bg-dark" style="display: block;"  [ngClass] = "toggle ? '' : 'active'">
        <div class="sidebar-header bg-dark">
            <h3><i class="fas fa-user"></i>&nbsp;&nbsp;{{ GetUserName }}</h3>
        </div>
        <hr>

        <ul class="list-unstyled components" *ngIf = "value == 'Admin'; else bloodBank">
            <li>
               <a routerLink = "/admin" routerLinkActive = "activeClass"  [routerLinkActiveOptions]="{exact: true}">  <i class="fas fa-users">&nbsp; &nbsp;</i>Manage Donors</a>
            </li>
            <li>
                <a routerLink="/admin/ManageBloodBanks" routerLinkActive = "activeClass"><i class="fas fa-hospital-alt"></i>&nbsp; &nbsp;Manage Blood Banks</a>
            </li>
            <li>
                <a routerLink="/admin/AddNotification" routerLinkActive = "activeClass"><i class="fas fa-bell"></i>&nbsp; &nbsp;Add Notifications</a>
            </li>
        </ul>

        <ng-template #bloodBank>
            <ul class="list-unstyled components">
                <li>
                    <a routerLink = "/BloodBank" routerLinkActive = "activeClass"  [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-business-time"></i>&nbsp; &nbsp;Blood Stocks</a>
                </li>
                <li>
                    <a routerLink="/BloodBank/AddCamp" routerLinkActive = "activeClass"><i class="fas fa-campground"></i>&nbsp;&nbsp;Add Camp</a>
                </li>
            </ul>
        </ng-template>

      
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" (click) = "toggleBtn()" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    
                </button>
                

               
            </div>
        </nav>
        <router-outlet></router-outlet>

         </div>
</div>