<h1  class="text-dark fw-bold" style="margin-bottom: 20px; display: block;">
  Manage Blood Banks
</h1>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">BloodBank ID</th>
        <th scope="col">BloodBank Name</th>
        <th scope="col">City</th>
        <th scope="col">Available Blood Groups</th>
        <th scope="col">Contact</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of bloodBankDetails">
        <th scope="row">{{ item.BloodBankId }}</th>
        <td>{{ item.BloodBankName }}</td>
        <td>{{ item.City }}</td>
        <td>A+ : {{ item.APositive }},B+ : {{ item.BPositive }},O+ : {{ item.OPositive }}, AB+ : {{ item.ABPositive }}, A- : {{ item.ANegative }}, B- : {{ item.BNegative }}, O- : {{ item.ONegative }}, AB- : {{ item.ABNegative }}</td>
        <td>{{ item.Contact }}</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      
    </tbody>
  </table>