<h1  class="text-dark fw-bold" style="margin-bottom: 20px; display: block;">
  Manage Blood Banks
</h1>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">BloodBank ID</th>
        <th scope="col">BloodBank Name</th>
        <th scope="col">City</th>
        <th scope="col">Available Blood Groups</th>
        <th scope="col">Contact</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ashreya</td>
        <td>WYND</td>
        <td>A+ : 3,B+ : 3</td>
        <td>9876543210</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      
    </tbody>
  </table>