<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/blood1.jpg" class="d-block w-100  crouselImage" >
      </div>
      <div class="carousel-item">
        <img src="/assets/blood2.jpg" class="d-block w-100 crouselImage" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/blood3.jpg" class="d-block w-100 crouselImage" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <h1 class="text-dark d-flex justify-content-center m-4">Notifications</h1>
  <div class="center">
  <div class="container justify-content-center">
  <div class="notifiationArea row ">
    <div *ngFor = "let item of notificationData" class="col-md-3 col-sm-12">
  <!-- <app-notification-cards  [value]="'Vaccination Drive'"></app-notification-cards> -->
  <div class="card shadow mb-3" style="max-width: 18rem;">
    <div class="card-header text-dark fw-bold">{{ item.Title }}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{ item.Title }}</h5>
      <p class="card-text">{{ item.Content }}</p>
    </div>
  </div>
</div>

 
</div>
</div>
</div>
<h1 class="text-dark d-flex justify-content-center m-4">Donation Camps</h1>
  <div class="center">
  <div class="container justify-content-center">
  <div class="notifiationArea row ">
    <div *ngFor = "let camp of donationCamps" class="col-md-4 col-sm-12">
  <!-- <app-notification-cards  [value]="'Vaccination Drive'"></app-notification-cards> -->
  <div class="card shadow mb-4" style="max-width: 28rem;">
    <div class="card-header text-dark fw-bold">{{ camp.BloodBankName }}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{ camp.EventName }}</h5>
      <p class="card-text">Conducted on {{ camp.EventDate | date:'short' }}</p>
      <p class="card-text">Registrations will close on {{ camp.EventClosing | date : 'short' }}</p>
      <p class="card-text">Location : {{ camp.City }}</p>
      <p class="card-text">Time : {{ camp.EventTime | date : 'h:mm:ss' }}</p>
      <button class="btn btn-success" (click) = "changeEventId(camp.EventId)" data-toggle="modal" data-target="#exampleModalCenter"  >Register</button>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="text-dark">Are you sure you want to register for the camp?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click) = "RegisterForDonationCamp(camp.EventId)" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

</div>

 
</div>
</div>
</div>
          

  