.crouselImage{
    height: 500px;
}
.notifiationArea{
    width: 100%; 
    overflow-x: scroll(or auto);
}
.center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}