
  <div class="div1">
<img class="img1" src="/assets/nurse.png" height="150px" width="150px" ><br><br>
<input class="input" type="text" value="Aleena Joice">
<input class="input" type="text" value="email@gmail.com">
<input class="input" type="text" value="xxxx-xxxx-xxxx">
<input class="input" type="text" value="A+">
<input class="input" type="text" value="Kanjirappally"><br><br>
<button id="btn1" class="btn btn-outline-info"> Edit</button>
  </div>
  <div class="div2">
      <h1 style="color:red;margin-top: 20px;">History</h1><br><br>
      <table class="table">
          <tr>
            <th scope="col">#</th>
              <th scope="col">Event Name</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Place</th>
              <th scope="col">Blood Quantity</th>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Blood Campaign</td>
            <td>24-10-2010</td>
            <td>10:30 AM</td>
            <td>Kottayam Medicity</td>
            <td>1 Bag</td>
          </tr>
      </table>
  </div>
