
<div class="bg">
    <h1 class="text-dark d-flex  justify-content-center m-4">Registration</h1>
    <div class="d-flex align-items-center justify-content-center" style="height: 600px">
    
     <div class="loginBox">
       <div class="row d-flex justify-content-center m-3">
        <div class="col-md-4 col-sm-2">
            <a  [ngClass] = "active == 1 ? 'text-dark fw-bold linkText linkTextActive' : 'text-dark fw-bold linkText'" (click) = "changeAuthDonor()">DONOR</a>
          </div>
          <div class="col-md-4 col-sm-2">
            <a  [ngClass] = "active == 2 ? 'text-dark fw-bold linkText linkTextActive' : 'text-dark fw-bold linkText'" (click) = "changeAuthBloodBank()">BLOODBANK</a>
          </div>
       </div>
       <form action="" [formGroup] = "donorRegisterForm" class="form-group"  *ngIf = "active == 1; else bloodBankRegister" (ngSubmit) = "onSubmit(donorRegisterForm.value)">
       <div class="row justify-content-left d-flex  p-2">
        <div class="input-group">
             <input type="text" placeholder="Username"  class="form-control textBox" formControlName = "UserName">
             <span class="input-group-btn" 
            style="width:30px;"></span>
             <input  type="text" placeholder="Aadhar Number" class="form-control textBox" formControlName = "AadharNumber">
           </div>
       </div>


    <div class="row justify-content-center d-flex  p-2">
        <div class="input-group">
          <input  type="password" placeholder="Password" class="form-control textBox" formControlName = "DPassword">
          <span class="input-group-btn" 
            style="width:30px;"></span>
          <input  type="password" placeholder="Confirm Password" formControlName = "DCPassword" class="form-control textBox">
        </div>
    </div>
    <div class="row justify-content-center d-flex  p-2">
        <div class="input-group">
          <input  type="text" placeholder="Contact Number" formControlName = "DContact" class="form-control textBox">
          <span class="input-group-btn" 
            style="width:30px;"></span>
          <select class="form-select textBox" style="border-radius: 30px;" formControlName = "BloodGroup" aria-label="Default select example">
            <option value = "">Select Blood Group</option>
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="O+">O+</option>
            <option value="AB+">AB+</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="O-">O-</option>
            <option value="AB-">AB-</option>
          </select>
        </div>
    </div>
    <div class="row justify-content-center d-flex  p-2">
        <div class="input-group">
          <input  type="date" formControlName = "DateofBirth" placeholder="Date Of Birth" class="form-control textBox">
          <span class="input-group-btn" 
            style="width:30px;"></span>
          <input  type="text" placeholder="City" class="form-control textBox" formControlName = "DCity">
        </div>
      </div>
    <input formControlName = ""  type="text" formControlName = "DHealthCondition" placeholder="Health Condition" class="form-control textBox">&nbsp;
    <input type="checkbox" name="donor" value="1" id="" >
    <label class="text-dark fw-bold" >Do you want to be a Donor?</label><br>
    <div class="row justify-content-center d-flex m-4">
      <div class="col-md-4">
       <input  type="submit" value="Register" class="btn btn-primary textButton">
      </div>
    </div>
   
      </form>

      <ng-template #bloodBankRegister>
        <form action="" class="form-group" [formGroup] = "bloodBankRegisterForm" (ngSubmit) = "onSubmit(bloodBankRegisterForm.value)">
            <div class="row justify-content-left d-flex  p-2">
             <div class="input-group">
                  <input id="bloodName" type="text" placeholder="Blood Bank Name" style="border-radius: 30px;" class="form-control textBox" formControlName = "BloodBankName" [ngClass]="{ 'is-invalid': submitted && form.BloodBankName.errors }">
                  <div *ngIf="submitted && form.BloodBankName.errors" class="invalid-feedback">
                    <div *ngIf="form.BloodBankName.errors.required" class="text-warning">BloodBankName  is required</div>
                </div>
                  <span class="input-group-btn" 
                 style="width:30px;"></span>
                 
                </div>
            </div>
     
     
         <div class="row justify-content-center d-flex  p-2">
             <div class="input-group">
               <input id="Pass" type="password" placeholder="Password" style="border-radius: 30px;" class="form-control textBox" formControlName = "Password" [ngClass]="{ 'is-invalid': submitted && form.Password.errors }">
               <div *ngIf="submitted && form.Password.errors" class="invalid-feedback">
                <div *ngIf="form.Password.errors.required" class="text-warning">Password  is required</div>
            </div>
               <span class="input-group-btn" 
                 style="width:30px;"></span>
               <input id="Cpass" type="password" placeholder="Confirm Password" style="border-radius: 30px;" class="form-control textBox" formControlName = "ConfirmPassword" [ngClass]="{ 'is-invalid': submitted && form.ConfirmPassword.errors }">
               <div *ngIf="submitted && form.ConfirmPassword.errors" class="invalid-feedback">
                <div *ngIf="form.ConfirmPassword.errors.required" class="text-warning">ConfirmPassword  is required</div>
            </div>
              </div>
         </div>
         <div class="row justify-content-center d-flex  p-2">
             <div class="input-group">
               <input id="contacts" type="number" placeholder="Contact Number" style="border-radius: 30px;" class="form-control textBox" formControlName = "ContactNumber" [ngClass]="{ 'is-invalid': submitted && form.ContactNumber.errors }">
               <div *ngIf="submitted && form.ContactNumber.errors" class="invalid-feedback">
                <div *ngIf="form.ContactNumber.errors.required" class="text-warning">BloodBankName  is required</div>
            </div>
               <span class="input-group-btn" 
                 style="width:30px;"></span>
                 <select class="form-select textBox" formControlName = "City" aria-label="Default select example" style="border-radius: 30px;" [ngClass]="{ 'is-invalid': submitted && form.City.errors }">
                  <option value="">Select City</option>
                  <option value="Trivandrum">Trivandrum</option>
                  <option value="Kollam">Kollam</option>
                  <option value="Pathanamthitta">Pathanamthitta</option>
                </select>
                <div *ngIf="submitted && form.City.errors" class="invalid-feedback">
                  <div *ngIf="form.City.errors.required" class="text-warning">BloodBankName  is required</div>
              </div>
              </div>
         </div>
         
         <div class="row justify-content-center d-flex m-4">
             <div class="col-md-4">
              <input  type="submit" value="Register" class="btn btn-primary textButton">
             </div>
           </div>
         
           </form>
      </ng-template>
     </div>
    </div>
    </div>
  